@font-face {
  font-family: "Roboto Flex";
  src: url("./assets/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf")
    format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Oswald";
  src: url("./assets/Oswald-VariableFont_wght.ttf") format("woff2");
  font-display: block;
}
